/*！
 * 页脚样式
 *
 */

.footer-dx {
padding: 50px 0 20px 0;
  background-color: #000000;
  color: #FFFFFF;
  h3 {
    margin: 0 0 20px 0 ;
    font-size: 1.2em;
  }
  ul li {
    line-height: 30px;
    a {
      font-size: 1.1em;
      color: #566266;
    }
  }

  //关于我们
  .footer-gywm {

  }

  //信息分类
  .footer-xxfl {
  }

  //帮助中心
  .footer-bzzx {

  }

  //服务支持
  .footer-fwzc {

  }

  //甘肃天奇
  .footer-gstq{

  }

  //微信公众号
  .footer-wxgzh {

    .footer-icon {
      p {
        text-align: left;
      }
      i {
        font-size: 18px;
        margin: 3px 5px;
        color: #ffffff;
        transition: all 0.5s ease-in-out;
      }
      i:hover {
        transform: scale(1.8);
        color: darken(#44AC35, 10%)
      }
    }
  }

}

.footer-copyright-dx {
  background-color: #000000;
  border-top:1px solid#222222;
  p {
    text-align: center;
    margin: 20px 0;
    color: #999999;
  }
}
