/*！
 * 页脚样式
 *
 */

.footer-dx {
  padding: 30px 0 20px 0;
  //  background-color: #000000;
  background-color: #ffffff;
  //background-color:darken(rgb(248, 248, 248),15%);
  color: #555;
  h3 {
    margin: 30px 0 10px 0;
    font-size: 1.2em;
    color: #000000;
  }

  ul li {
    line-height: 30px;
    a {
      font-size: 1.0em;
      color: #555;
    }
  }

  //关于我们
  .footer-lxwm {
    i {
      color: #F12E01;
      font-size: 15px;
    }
    p{
      font-size: 1.0em;
      color: #555;
    }


  }

  //帮助中心
  .footer-bzzx {

  }

  //服务支持
  .footer-fwzc {
  }

  //微信公众号
  .footer-wxgzh {

    .footer-icon {
      p {
        text-align: left;
      }
      i {
        font-size: 18px;
        margin: 3px 5px;
        color: darken($theme, 10%);
        transition: all 0.5s ease-in-out;
      }
      i:hover {
        transform: scale(1.8);
        color: darken($theme, 20%);
      }
    }
  }

}

.footer-copyright-dx {
  //background-color: #000000;
  background-color: darken(#fff, 2%);
  border-top: 1px solid darken(#fff, 13%);
  p {
    text-align: center;
    margin: 20px 0;
    color: #999999;
  }
}
