/*！
 * 页脚样式
 *
 */

.footer-dx {
  background-color: #F8F8F8;
  //微信公众号
  .footer-wxgzh{
    text-align: center;
    ul li {
      line-height: 30px;
      a {
        font-size: 18px;
        color: #000;
      }
    }
  }

  //页脚友情链接样式
  .footer-yqlj{
    text-align: center;
    .footer-icon {
      p {
        text-align: left;
      }
      i {
        font-size: 18px;
        margin: 3px 5px;
        color: #F84530;
        transition: all 0.5s ease-in-out;
      }
      i:hover {
        transform: scale(1.8);
        color: darken(#F84530, 10%)
      }
    }
  }

  //页脚关于我们样式
  .footer-gywm {
    text-align: center;
    ul li {
      line-height: 30px;
      a {
        font-size: 18px;
        color: #000;
      }
    }
  }

  //页脚联系我们样式
  .footer-lxwm  {
    text-align: center;
    .footer-right-button {
      /*border-radius: 0 !important; */
      margin-top: 10px;
      background-color: darken(#F8F8F8, 1%);
      border: 1px solid darken(#DDDDDD, 10%);
      transition: all 0.5s ease-in-out;
    }
    .footer-right-button:hover {
      transform: scale(1.1);
      background-color: darken(#F8F8F8, 15%);
      color: #000;
    }
  }

  h3{
    text-align: center;
  }
}

.footer-copyright-dx {
  background-color: darken(#F8F8F8, 10%);
  p {
    margin: 3px 0;
  }
}
