/*！
 * 页面广告样式
 *
 */
.huodong-v2{
  padding:10px 0 0 0;
  *{
    font-family: $base-family !important;
  }
  .cbp-l-slider-title-block{
    margin-bottom: 10px;
    >div{
      font-size: 1.2em;
      color:$theme;
      border-bottom: 3px solid $theme;

    }
  }
}