/*！
 * 页面广告样式
 *
 */


.huodong-v2{
  padding:8px 0;
  *{
    font-family: $base-family !important;
  }
  .cbp-l-slider-title-block div{
    font-size: 1.2em;
    color:$theme;
    border-bottom: 2px solid $theme;
  }
}